@keyframes spinslow {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  /* background-image: url(./images/bg.webp); */
  background-color: rgb(4, 4, 19);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: large;
  color: #ccc;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid #ccc;*/
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.329);
  border-radius: 10%;
  width: 70vw;
  margin: auto;
  padding: 15px;
  backdrop-filter: blur(10px);
  /* background-color: rgba(223, 146, 146, 0.3);
   */
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.158)
  );
  /* background-size: 30px 30px; */
}
.card .container-1 {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card .image-container {
  /* background-color: aqua; */
  height: 30vw;
  width: 30vw;
  /* border-radius: 50%; */
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* .card .image-container::after,
.card .image-container::before {
  content: "";
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    rgb(151, 78, 78)
  );
  height: 500px;
  width: 500px;
  position: absolute;
} */
.card .image-container figure {
  height: 100%;
  width: 100%;
  border-radius: 20%;
  /* background-color: rgb(209, 118, 118);*/
  background-color: #d6d0d0;
  /* border-radius: 50%; */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .image-container figure img {
  position: absolute;
  max-width: 100%;
  height: auto;
  bottom: 0;
}

.card .text {
  width: 80%;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card .text .main-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .text .main-text h2 {
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card .text .main-text p {
  line-height: 2rem;
}

.card .text .main-text span {
  border-bottom: 2px solid rgb(57, 57, 151);
}

.card .text p {
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}
.card .text .links {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.card .text .links a {
  text-decoration: none;
}
.card .text .interests {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  list-style: none;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}
.card .text .interests p {
  color: rgb(223, 89, 89);
  font-weight: 900;
}
.card .text .interests .hobbies,
.card .text .interests .dislikes {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card .text .interests ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #e2e2e2;
}

@media (max-width: 720px) {
  .card {
    display: flex;
    flex-direction: column;

    padding: 15px 0;
    gap: 20px;
  }
  .card .container-1 {
    display: flex;
    flex-direction: column;

    padding: 15px 0;
    gap: 20px;
  }

  .card .text .main-text h2 {
    /* font-size: 1rem;
    width: 100%; */
    text-align: center;
  }

  .card .text .main-text p {
    line-height: 1rem;
    /* font-size: 0.7rem; */
  }

  .card .text .interests {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card .text .interests .hobbies,
  .card .text .interests .dislikes {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .card .text .interests ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* color: #e2e2e2; */
  }
}
